html {
  font-size: 14px;
}

body {
  position: relative;
}

main {
  min-height: calc(100vh);
  padding-bottom: 200px;
}

main .style-none {
  list-style-type: none;
}

main .style-circle {
  list-style-type: circle;
}

main .style-decimal {
  list-style-type: decimal;
}

main .text {
  margin-left: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
}

.footer01 {
  color: #808080;
  background: #ffffff;
  text-align: center;
  padding: 30px;
 }

 .footer01 a {
  color: #808080;
  text-decoration: none;
 }
 .footer01 a:hover {
  text-decoration: underline;
 }
 .footer01 .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .footer01 .menu li {
  margin: 0;
  padding: 10px 20px 0 20px;
 }
 .footer01 .copyright {
  margin: 0;
  padding: 20px 0 0 0;
 }
 #float-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
 }